/* Fuente personalizada: Poppins y Roboto */
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto/Roboto-Italic-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* Iconos de Bootstrap */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

/* Estilos globales */
* {
  font-family: "Poppins", "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  --color-fondo: #bababa;
  --color-primario: #007a5e;
  --color-secundario: #6edc8c;
  --color-terciario: #033649;
  --color-cuarto: #45c4ed;
  --color-contraste-claro: #f5f5f5;
  --color-contraste-oscuro: #222222;
}

/* Estilo general del body */
body {
  background-color: var(--color-fondo);
  color: var(--color-terciario);
}

/* Header / navegación */
header nav {
  top: 0;
  width: 100%;
  padding: 16px;
  background: var(--color-primario);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 33px;
}

header nav a {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--color-cuarto);
  font-weight: bold;
}

header nav .logo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

header nav .logo img {
  width: 50px;
}

header nav .logo span {
  font-size: 0.7rem;
  padding-top: 10px;
}

.tituloConFlecha {    
    width: 100%;
    padding: 5% 3%;        
    display: flex;
    color: var(--color-contraste-oscuro);
    font-weight: 600;
    letter-spacing: 0.1rem;
    align-items: center;
    justify-content:space-between;    
    font-size: 1.3rem;
  }

.flechaInvisible {
  width: 24px;
  height: 24px;
  visibility: hidden;
}

/* Estilo de las tarjetas*/

.card {
  background: linear-gradient(to right, #a9cdbb, #c1d8e4);
  border-radius: 15px;
  padding: 1em;
  margin: 1em;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  position: relative;
  color: var(--color-contraste-oscuro);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}

.card h2 {
  width: 100%;
  margin-bottom: 0.5em;
  font-size: 1.2em;
  font-weight: bold;
  color: rgb(66, 65, 65);
}

.card ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  flex: 1;
}

#Horario {
  font-size: 0.8em;
  color: white;
}

.card li {
  display: flex;
  align-items: center;
  margin: 0.6em 5em;
}

.card li i, .card li img {
  width: 24px;
  height: 24px;
  margin-right: 0.8em;
  flex-shrink: 0;
}

#Medusa{
  object-fit: contain;
  border-radius: 7%;
}

.bi {
  font-size: 1.3em;
  color: white;
  transition: transform 0.3s ease;
}

.bi:hover {
  transform: scale(1.2);
  color: #033649;
}

.card .icon {
  display: inline-block;
  /*background-color: var(--color-fondo);*/
  color: white;
  padding: 0.3em 0.6em;
  margin-left: 0.5em;
  border-radius: 8px;
  font-size: 1.1em;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  text-align: center;
}

.card .icon:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.card a {
  text-decoration: none;
  color: white;
}

.card > img:last-child {
  width: 20%;
  height: auto;
  align-self: center;
}

.card p {
  color: white;
}

#Empresa {
 width: 200px;
 height: 200px;
} /* Se puede mejorar muchisimo */