/* Fuente personalizada: Poppins y Roboto */
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto/Roboto-Italic-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* Estilos globales */
* {
  font-family: "Poppins", "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  --color-fondo: #bababa;
  --color-primario: #007a5e;
  --color-secundario: #6edc8c;
  --color-terciario: #033649;
  --color-cuarto: #45c4ed;
  --color-contraste-claro: #f5f5f5;
  --color-contraste-oscuro: #222222;
}

/* Estilo general del body */
body {
  background-color: var(--color-fondo);
  color: var(--color-terciario);
}

/* Header / navegación */
header nav {
  top: 0;
  width: 100%;
  padding: 16px;
  background: var(--color-primario);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 33px;
}

header nav a {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--color-cuarto);
  font-weight: bold;
}

header nav .logo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

header nav .logo img {
  width: 50px;
}

header nav .logo span {
  font-size: 0.7rem;
  padding-top: 10px;
}

.tituloConFlecha {    
    width: 100%;
    padding: 2% 2%;  /* Corregí acá el padding porque me parecía que quedaba demasiado espacio entre el título y la primera tarjeta */    
    display: flex;
    color: var(--color-contraste-oscuro);
    font-weight: 600;
    letter-spacing: 0.1rem;
    align-items: center;
    justify-content:space-between;    
    font-size: 1.3rem;
  }

.flechaInvisible {
  width: 24px;
  height: 24px;
  visibility: hidden;
}

/* Estilo de las tarjetas*/
.card {
  background: linear-gradient(to right, #a9cdbb, #c1d8e4);
  border-radius: 15px;
  padding: 1em;
  margin: 1em;
  margin-top: 0%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  position: relative;
  color: var(--color-contraste-oscuro);
}

.card h2 {
  width: 100%;
  margin-bottom: 0.5em;
  font-size: 1em;
  color: rgb(66, 65, 65);
}


.card p, .card ul {
  width: 60%;
  margin-bottom: 1em;
  color: rgb(255, 255, 255);
}

.card ul {
  list-style: none;
  padding-left: 0;
}

#Datos {
  font-size: 0.8em;
  color: white;
  justify-items: flex-start;
}

.card li i, .card li img {
  width: 24px;
  height: 24px;
  margin-right: 0.8em;
  flex-shrink: 0;
}

#Medusa{
  object-fit: contain;
  border-radius: 7%;
  margin: auto;
  margin-right: 14px;
}

.bi {
  font-size: 1.3em;
  color: white;
  transition: transform 0.3s ease;
}

.bi:hover {
  transform: scale(1.2);
  color: #45c4ed;
}

.card li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.3em 5em;
  font-size: 1em;
}

.card a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.icon {
  font-size: 1.2em;  
}

.card img {
  width: 20%;
  max-width: 25%;
  align-self: center;
  margin-top: -30px; 
}

#Empresa {
 width: 200px;
 height: 200px;
}

.card .icon {
  display: inline-block;
  background: linear-gradient(to right, #a9cdbb, #b6cdda);
  color: white;
  padding: 0.3em 0.6em;
  margin-left: 0.5em;
  border-radius: 8px;
  font-size: 1.1em;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  text-align: center;
}

.card .icon:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* footer */ 

.footer {
  background-color: var(--color-primario);
  color: var(--color-cuarto);
  padding: 20px 10px;
  width: 100%;
  /*position: fixed;*/
  text-align: center;
  font-size: 0.9rem;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center; 

}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.footer-logo img {
  height: 45px;
}

/* Media Queruy para distintas pantallas 
    hasta   480 px -> Dispositivos móviles
    hasta   768px  -> Tabletas
    más de  1024px -> Pantallas de escritorio
*/

/* Estilos para SweetAlert */
.swal2-html-container .swal2-file,
.swal2-html-container .advertencia {
  font-size: 0.9rem;
}

/* Media Queries para pantallas de tablet */ /* Esto se debe adaptar al HTML de la página administrar */
@media (min-width: 481px) {

  .mainActividad .seccionActividad, 
  .mainHorario .seccionHorario {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }

  .mainActividad .formActividad,
  .mainHorario .formHorario {
    font-size: 1rem;
    padding: 0 10%;
  }

  .mainActividad .formActividad .inputActividad,
  .mainHorario .formHorario .inputHorario {
    font-size: 1rem;
    padding: 10px;
  }

  .mainActividad .formActividad .advertencia,
  .mainHorario .formHorario .advertencia {
    font-size: 0.85rem;
  }

  .mainActividad .btnTabla {
    width: 80%;
  }


  .mainActividad .btnAceptar,
  .mainActividad .btnCancelar,
  .mainHorario .btnAceptar,
  .mainHorario .btnCancelar {
    width: 150px;
    font-size: 1rem;
  }

  .mainActividad .tituloConFlecha,
  .mainHorario .tituloConFlecha {
    font-size: 1.1rem;
    padding: 2% 5%;
  }
}

/* Media Queries para pantallas de escritorio */
@media (min-width: 1024px) {

  .mainActividad .seccionActividad,
  .mainHorario .seccionHorario {
    max-width: 700px;
  }

  .mainActividad .seccionActividad .contenedorBotones,
  .mainHorario .seccionHorario .contenedorBotones {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content:space-around;
  }

  .mainActividad .formActividad,
  .mainHorario .formHorario {
    font-size: 0.95rem;
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    gap: 20px;
    padding: 0 5%;
  }
  
  .mainActividad .formActividad .inputActividad,
  .mainHorario .formHorario .inputHorario {
    font-size: 0.95rem;
  }

  .mainActividad .seccionActividad .btnAceptar,
  .mainActividad .seccionActividad .btnCancelar,
  .mainHorario .btnAceptar,
  .mainHorario .btnCancelar {
    font-size: 1rem;
    height: 50px;    
    width: 200px;
    }
  

  .mainActividad .tituloConFlecha,
  .mainHorario .tituloConFlecha {
    font-size: 1.5rem;
  }

  .mainActividad .formActividad > div,
  .mainHorario .formHorario > div {
    padding: 0; 
  }

  .mainActividad .formActividad .mensaje-error,
  .mainHorario .formHorario .mensaje-error {
    font-size: 0.85rem;
  }

  .mainActividad .formActividad label.advertencia,
  .mainHorario .formHorario label.advertencia  {
    grid-column: span 2;
    font-size: 0.85rem;
  }

  .mainActividad .btnTabla {
    width: 70%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);    /* sombra */
  }

  .mainActividad .btnAceptar, 
  .mainHorario .btnAceptar {
    grid-column: 2;
    justify-self: end;
    margin-top: 30px;
  }

  .mainActividad .btnCancelar, 
  .mainHorario .btnCancelar {
    grid-column: 1;
    justify-self: start;
    margin-top: 30px;
  }

  .mainActividad #tablaActividades th,
  .mainActividad #tablaActividades td {
    font-size: 1.1rem;    
  }

}
